{% extends 'base.html' %} 

{% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <h1 class="text-center text-secondary">{{task.title}}</h1>
            <p class="text-danger">{{error}}</p>
            <form method="POST">
                {% csrf_token %} 
                {{form.as_p}}
                <button class="btn btn-success mt-3">Update</button>
            </form>
            <form action="{% url 'complete_task' task.id %}" method="POST">
                {% csrf_token %} 
                <button class="btn btn-primary mt-3">Complete</button>
            </form>
            <form action="{% url 'delete_task' task.id %}" method="POST">
                {% csrf_token %} 
                <button class="btn btn-danger mt-3">Delete</button>
            </form>
        </section>
    </div>
</main>
{% endblock %}
